<span class="setup">Number</span>

<!-- data es una variable del TypeScript-->
<!-- {{}} para consultar variables que se encuentran en TypeScript-->
<h1 class="punchline">{{ data }}</h1>

<!--(click)="addNumber()"  método del TS-->
<!--()= parentesis redondo, ejecuta el método del TS-->
<button type="button" class="btn btn-success" (click)="addNumber()">Add</button>

<!--(click)="deleteNumber()" método del TS-->
<button type="button" class="btn btn-danger" (click)="deleteNumber()">Remove
</button>